@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Trebuchet ;
    src: url(../fonts/SourceSansPro.ttf);
}

@font-face {
    font-family: Agrandir;
    src: url(../fonts/Agrandir-Regular.ttf);
}

